h2.tag-line {
  font-size: .8rem;
  margin: 0;
  letter-spacing: 0.1rem;
}


@media (max-width: 1199.98px) {
  .nav-link {
    text-align: center
  }
}

.centered {
  margin: auto;
  display: block;
}