<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="~{fragments/profiles/activeProfile :: head (pageTitle = 'All products')}"
      th:remove="tag">

    <title>All products</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom css styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

</head>
<body>
<nav th:replace="~{fragments/default-page :: header (activeItem = 'products')}">HEADER</nav>

<div>Page: <span th:text="${products.getPageable().getPageNumber()}">page</span></div>

<table style="width:100%">
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr th:each="p : ${products.getContent()} ">
        <td th:text="${p.id}">id</td>
        <td th:text="${p.title}">title</td>
        <td th:text="${p.description}">title</td>
    </tr>
</table>


<div th:replace="~{fragments/profiles/activeProfile :: bottomScripts}" th:remove="tag">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
</body>
</html>