<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:fragment="head (pageTitle)">
    <title th:text="${'Restor - ' + pageTitle}">Template title</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <template th:replace="${@environment.acceptsProfiles('prod')}?
        ~{fragments/profiles/production :: headElements } :
        ~{fragments/profiles/development :: headElements }"
              th:remove="tag">
    </template>

    <!-- Custom css styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:fragment="bottomScripts" th:remove="tag">
    <div th:include="${@environment.acceptsProfiles('prod')}?
        ~{fragments/profiles/production :: bottomScripts} :
        ~{fragments/profiles/development :: bottomScripts}" th:remove="tag">
    </div>
</div>
</body>
</html>