<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">


<head>
    <title>Registration</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<h2 class="card-title font-weight-bold">
    Registration
</h2>
<!--/*@thymesVar id="userDto" type="moc.mape.onishchenko.restaurantspringboot.dto.UserDto"*/-->
<form action="#" th:action="@{/registration}" th:object="${userDto}" method="POST">
    <div>
        <label for="login">
            Login
        </label>
        <input type="text" id="login"
               th:field="*{login}">
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input type="text" id="password"
               th:field="*{password}"/>
    </div>

    <div>
        <label for="passwordConfirmation">
            Confirmation
        </label>
        <input type="text" id="passwordConfirmation"
               th:field="*{passwordConfirmation}"/>
    </div>

    <button type="submit">
        Register
    </button>
</form>
</body>
</html>